<%= render "shared/nav" %>
<div class="container">
	<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

	<div class="row">
		<div class="span8">
			<h2>Your downloads</h2>
			<hr>
			<% @themes.each do |t| %>
				<!-- account for combo pack -->
				<% unless t.id == 3 %>
					<div class="row">
						<div class="span2">
							<%= image_tag t.picture_url, style: "width:180px;", class: "thumbnail" %>
						</div>
						<div class="span5">
							<strong>Theme: <%= t.name %></strong><br/><br/>
							<a class="btn btn-success" href="<%= t.download_url %>">Download Now</a>			
						</div>
					</div>
					<hr>
				<% else %>
					<!-- combo pack -->
					<% @corgi = Theme.find(1) %>
					<div class="row">
						<div class="span2">
							<%= image_tag @corgi.picture_url, style: "width:180px;", class: "thumbnail" %>
						</div>
						<div class="span5">
							<strong>Theme: <%= @corgi.name %></strong><br/><br/>
							<a class="btn btn-success" href="<%= @corgi.download_url %>">Download Now</a>			
						</div>
					</div>
					<hr>
					<% @boxer = Theme.find(2) %>
					<div class="row">
						<div class="span2">
							<%= image_tag @boxer.picture_url, style: "width:180px;", class: "thumbnail" %>
						</div>
						<div class="span5">
							<strong>Theme: <%= @boxer.name %></strong><br/><br/>
							<a class="btn btn-success" href="<%= @boxer.download_url %>">Download Now</a>			
						</div>
					</div>
					<hr>
				<% end %>
			<% end %>
			<div class="row">
					<div class="span2">
						<%= image_tag "retriever.png", style: "width:180px;", class: "thumbnail" %>
					</div>
					<div class="span5">
						<strong>Free Theme Available for Download!</strong><br/>
						<strong>Theme: Retriever</strong><br/><br/>
						<a class="btn btn-success" href="https://github.com/damian-sowers/retriever-bootstrap">Download Now</a>			
					</div>
				</div>
		</div>
		<br/><br/><br/>
		<div class="span4">
			<div class="well">
				Any questions or concerns? Send me an email at <a href="mailto:bootstrapmicro@gmail.com">bootstrapmicro@gmail.com</a>
			</div>
		</div>	
</div>
