= render "shared/nav"
%div{ :style => "background-color:#57ad68; margin-top:-20px; margin-bottom:20px"}
	.container
		%div{ :style => "text-align:center"}
			%p.sale 
				%a{ :href => "https://github.com/damian-sowers" }
					Fork Me on Github!
.container
	= render :partial => "shared/flash", :locals => { :flash => flash }
	%div{ :style => "text-align:center"}
		%h1 Free Bootstrap Themes
		%h3 
			Get a fresh look for your Bootstrap projects. All of these themes are lightweight
		= render "shared/social"
	%hr
	.well
		%strong.theme_title New Themes available:
		= render "shared/share"
		%br
		%br
		- @themes.each do |t|
			- unless t.id == 3
				.row.row_spacer
					.span8
						= image_tag t.picture_url
					.span3
						%strong.theme_title 
							= t.name
						%hr.title_divider
						= link_to("Download", "#{t.download_url}", class: "btn btn-primary", style: "float:left; margin-right:5px")
						= link_to("Live Preview", "#{t.live_preview_url}", class: "btn btn-info")
						.meta
							.browsers
								= image_tag "browsers.png"
							.p IE8-10, Firefox, Safari, Opera, Chrome
							.lines_added
								%strong
									Lines of CSS added to bootstrap:
								= t.lines_css
			%hr