= render "shared/nav"
%div{ :style => "background-color:#3c89c6; margin-top:-20px; margin-bottom:20px"}
	.container
		%div{ :style => "text-align:center"}
			%p{ :style => "color: #eee; padding-top:8px; font-size:16px"} Beta launch special! Buy both themes for $5.00
.container
	= render :partial => "shared/flash", :locals => { :flash => flash }
	%div{ :style => "text-align:center"}
		%h1 You shouldn't be fighting your theme code. 
		%h3 
			These 
			%i micro 
			bootstrap themes won't get in your way
	%hr
	%p 
		%strong What's a micro bootstrap theme? 
		A micro bootstrap theme is just a small addition to the wonderful bootstrap framework. Usually a micro theme has less than 100 lines of CSS added to bootstrap. We've all been burned by themeforest templates. Use a micro bootstrap theme and don't struggle with the html/css ever again.
	.well
		%strong.theme_title Themes available:
		%br
		%br
		.row.row_spacer
			.span8
				= image_tag "theme-default.jpg"
			.span3
				%strong.theme_title Corgi
				%hr
				%a.btn.btn-success{ :href => "/charges/new?theme_id=1" } Buy now
				%a.btn.btn-info Live Preview
				%br
				.meta
					%strong Price:
					%span.price $2.99
					%br
					%strong Author: 
					Damian Sowers
					%br
					%strong Date: 
					2-24-13
					.browsers
						= image_tag "browsers.png"
					.lines_added
						%strong
							Lines of CSS added to bootstrap:
						60
		%hr
		.row.row_spacer
			.span8
				= image_tag "theme-default.jpg"
			.span3
				%strong.theme_title Boxer
				%hr
				%a.btn.btn-success{ :href => "/charges/new?theme_id=2" } Buy now
				%a.btn.btn-info Live Preview
				%br
				.meta
					%strong Price:
					%span.price $2.99
					%br
					%strong Author: 
					Damian Sowers
					%br
					%strong Date: 
					2-24-13
					.browsers
						= image_tag "browsers.png"
					.lines_added
						%strong
							Lines of CSS added to bootstrap:
						60
		%hr
		.row.row_spacer
			.span8
				= image_tag "theme-default.jpg"
			.span3
				%strong.theme_title Retriever
				%hr
				%a.btn.btn-success Buy now
				%a.btn.btn-info Live Preview
				%br
				.meta
					%strong Price:
					%span.price $2.99
					%br
					%strong Author: 
					Damian Sowers
					%br
					%strong Date: 
					2-24-13
					.browsers
						= image_tag "browsers.png"
					.lines_added
						%strong
							Lines of CSS added to bootstrap:
						60

= render "shared/footer"