<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <title>Retriever: A new Bootstrap Theme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A new bootstrap theme">
  <meta name="author" content="Damian Sowers">
  <style>
    body {
      padding-top: 80px; /* Only include this for the fixed top bar */
    }
  </style>
  <%= stylesheet_link_tag  "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag  "bootstrap-responsive", :media => "all" %>
  <%= stylesheet_link_tag  "retriever", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
  <![endif]-->
  <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-38669228-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>

<%= yield %>

<script type="text/javascript">
var _sf_async_config={uid:35610,domain:"retriever-bootstrap.herokuapp.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>
</body>
</html>
